.accomplishments {
    overflow: hidden;
    padding-bottom: 20px;

    h2 {
        margin: unset;
        padding: 40px 25px;

        font-size: 30px;
        line-height: 40px;
        font-weight: 600;
    }

    &-list {
        position: relative;

        article {
            position: relative;
            background-color: #fff;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 0 auto 28px;
            padding: 10px 25px;

            width: calc(100% - 100px);
            min-height: 240px;
            box-shadow: $shadow;

            img {
                margin-bottom: 18px;
            }

            h3 {
                margin: 22px 0 14px;

                font-size: 60px;
                line-height: 70px;
                font-weight: 600;
                color: $color-orange;

            }

            .line-orange {
                width: 183px;
                border: solid 1px $color-orange;
            }

            p {
                text-align: center;
            }

            @media(max-width: 425px) {
                &:nth-of-type(2) p {
                    padding: 0 25px;
                }

                &:nth-of-type(3) p {
                    padding: 0 25px;
                }
            }
        }
    }

    .line-gray {
        margin: 50px auto 40px;

        width: calc(100% - 52px);
        border: solid 1px $color-gray-light;
    }

    >p {
        padding: 0 25px;

        text-align: center;
        color: $color-orange;

        font-size: 20px;
        line-height: 32px;
        font-weight: 600;

        @media(min-width: 768px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 480px;
        }
    }

    strong {
        font-size: 20px;
        line-height: 32px;
        font-weight: 600;
    }

    .square1 {
        z-index: -1;

        @include square-l;
        border-color: $color-blue;

        top: -45px;
        right: -60px;
    }

    .square2 {
        z-index: -1;

        @include square-l;
        border-color: $color-blue-light;

        left: -34px;
        bottom: 220px;
    }

    @media(min-width: 1024px) {
        padding: 70px 100px;

        h2 {
            padding: 0 0 50px;

            font-size: 35px;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(3, calc((100vw - 260px) / 3));
            gap: 30px;

            article {
                margin: unset;
                width: calc(100% - 50px);

                img {
                    width: 100%;
                    max-width: 250px;
                }
            }
        }

        .line-gray {
            margin-top: 75px;
            width: calc(100% - 2px);
        }

        >p {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: unset;
            padding: unset;

            max-width: 660px;


            font-size: 26px;
            line-height: 40px;

            strong {
                font-size: 26px;
                line-height: 40px;
            }
        }

        .square1 {

            top: -41px;
            right: -44px;
        }

        .square2 {
            @include square-m;
            border-color: $color-orange;

            left: -33px;
            bottom: -27px;
        }
    }

    @media(min-width: 1240px) {
        &-list {
            grid-template-columns: repeat(3, calc((100vw - 280px) / 3));
            gap: 40px;
        }

    }

    @media(min-width: 1440px) {
        padding-left: 200px;
        padding-right: 200px;

        &-list {
            grid-template-columns: repeat(3, calc((100vw - 480px) / 3));
        }
    }

    @media(min-width: 1920px) {
        &-list {
            grid-template-columns: repeat(3, 480px);
        }
    }
}