footer {
    padding: 50px 0 74px;
    display: flex;
    justify-content: space-between;

    background-color: $color-blue-light;

    .left-part,
    .right-part {
        display: flex;
        flex-direction: column;

        gap: 20px;
        padding: 10px 0;
    }

    .left-part {
        padding-left: 25px;

        h2 {
            margin: unset;

            font-size: 30px;
            line-height: 35px;
            font-weight: 600;
        }

        .contacts {
            display: flex;
            gap: 30px;
        }
    }

    .line {
        border: solid 1px $color-gray-light;
    }

    .right-part {
        padding-right: 60px;

        a {
            width: 28px;
            height: 28px;
            border: solid 2px $color-orange;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media(min-width: 768px) {
        justify-content: start;
        gap: 15px;
        background-color: unset;
        padding-bottom: 425px;
    }

    @media(min-width: 1024px) {
        padding: 90px 100px 465px;

        gap: 30px;

        .left-part{
            gap: 30px;
        }

        .left-part,
        .right-part {
            padding: unset;
            padding: 5px 0;
        }

        .right-part{
            justify-content: center;
        }
    }

    @media(min-width: 1240px) {
        gap: 40px;
    }

    @media(min-width: 1440px) {
        padding-left: 200px;
    }
}